/* #head {
  color: blue;
}

.header {
  color: coral;
}

h1 {
  color: green !important;
} */

h1 {
  margin: 50px;
  background-color: red;
}

button {
  padding: 50px 20px;
  background-color: green;
}
