/* #head {
  color: blue;
}

.header {
  color: coral;
}

h1 {
  color: green !important;
} */

/* h1 {
  margin: 50px;
  background-color: red;
}

button {
  padding: 50px 20px;
  background-color: green;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  background: rgb(103, 92, 165);
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
} */

/* .text-section {
  font-size: 1rem;
}

.text-section div {
  font-size: 1.5rem;
} */

/* html {
  font-size: 62.5%;
}

button {
  margin: 20rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem solid #5555c9;
  color: #5555c9;
  font-size: 2.4rem;
  border-radius: 1rem;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} */

/* a {
  display: inline-block;
  background: lightgray;
} */

/* html,
body {
  height: 200%;
}

.container {
  background: cadetblue;
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}

.box1,
.box2,
.box3 {
  width: 20%;
  height: 20%;
  background: crimson;
}

.box2 {
  background: rgb(37, 38, 116);
}
.box3 {
  background: rgb(24, 150, 62);
  position: sticky;
  top: 0%;
}

.box1 {
  position: absolute;
  bottom: 0%;
  right: 0%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  padding: 2rem 4rem;
  cursor: pointer;
}

button:hover {
  background: lightcoral;
}
button:focus {
  background: green;
}
input:focus {
  background: green;
}

h2 {
  font-size: 4rem;
}

h2::after {
  content: 'me';
}
