/* #head {
  color: blue;
}

.header {
  color: coral;
}

h1 {
  color: green !important;
} */

/* h1 {
  margin: 50px;
  background-color: red;
}

button {
  padding: 50px 20px;
  background-color: green;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  background: rgb(103, 92, 165);
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
} */

.text-section {
  font-size: 1rem;
}

.text-section div {
  font-size: 1.5rem;
}
